:root {
  --bg-color: #131316;
  --header-color: #1c1c21;
  --primary-text-color: #f2f2f3;
  --secondary-text-color: #8585ad;
}

body {
  position: relative;
  font-family: "Jet Brains Mono";
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
}

#modals {
  position: fixed;
  z-index: 10;
}

.container {
  max-width: 1300px;
  padding-left: 10px;
  margin: 0 auto;
  padding-right: 10px;
}
